<h1>Editions (<%= @editions.size %>)</h1>

<div id="editions">
<table class="tablesorter">
    <thead>
      <tr>
        <th>id</th>
        <th>last name (artist)</th>
        <th>first name (artist)</th>
        <th>edition image (sqaure | thumbnail)</th>
        <th>action</th>
      </tr>
    </thead>

    <tbody>
<% @editions.each do |edition| %>
  <tr>
    <td><%=h edition.id %></td>
    <td><%=h Artist.find_by_id(edition.artist_id).last_name %></td>
    <td><%=h Artist.find_by_id(edition.artist_id).first_name %></td>
    <%image = Image.find_by_id(edition.image_id) %>
    <td><%= link_to image_tag(image.url(:square)), image.url(:medium) unless image.nil?%> | <%= link_to image_tag(image.url(:thumb)), image.url(:large) unless image.nil?%></td>
    <td><%= link_to 'show', edition %> | 
    <%= link_to 'edit', edit_edition_path(edition) %> |
    <%= link_to 'destroy', edition, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
    <tbody>
</table>
</div>
<br />
<%= will_paginate @editions %>
<br />
<%= link_to 'New edition', new_edition_path %>
