<%= form.error_messages %>
<p>
<%= form.label :first_name %><br />
<%= form.text_field :first_name %>
</p>
<p>
<%= form.label :last_name %><br />
<%= form.text_field :last_name %>
</p>
<p>
<%= form.label :bio %><br />
<%= form.text_area :bio %>
</p>
<p>
<%= form.submit 'Save' %>
</p>
