<h1>Artist (<%= @artist.last_name %>, <%= @artist.first_name %>)</h1>
<% form_for(@artist, :html => {:multipart => true}) do |f| %>
    <%= render :partial => "form", :object => f -%>
<% end %>

<h2>Artist Editions</h2>
<div id="editions">
    <%= render :partial => "editions/edition", :collection => @artist.editions %>
</div>

<h2>Edition Images</h2>
<div id="images" class="images">
    <%= render :partial => "images/image", :collection => @artist.images %>
</div>

<%= link_to "Back", artists_path %>
