<h1>Image (<%= @image.id %>)</h1>
<p>
  <b>Content type:</b>
  <%=h @image.content_type %>
</p>

<p>
  <b>Filename:</b>
  <%=h @image.file_name %>
</p>

<p>
  <b>Size:</b>
  <%=h @image.file_size %>
</p>

<div id="images" class="images">
    <%= render :partial => "image", :object => @image %>
</div>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
